/* src/components/footer/Footer.css */
.footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem; /* Reducir el relleno horizontal */
    z-index: 1000; /* Asegura que el footer esté encima de otros contenidos */
}

.footer-links {
    display: flex;
    align-items: center;
    margin-right: auto; /* Asegura que los enlaces se alineen a la izquierda */
}

.footer-links a {
    color: #FDC1DA;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 1rem; /* Espacio entre enlaces */
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links span {
    margin: 0 0.5rem;
}

.footer-text {
    margin: 0.5rem;
    padding: 0 1rem; /* Espacio entre el texto y los bordes */
}
/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .footer {
        flex-direction: column; /* Organiza el footer en una columna */
        padding: 0.5rem; /* Reducir el padding en dispositivos móviles */
    }

    .footer-links {
        margin: 0; /* Elimina el margen derecho en móviles */
        padding-bottom: 0.5rem; /* Añade espacio debajo de los enlaces */
    }

    .footer-links a {
        font-size: 0.9rem; /* Reduce el tamaño de fuente para enlaces */
        margin-right: 0.5rem; /* Reduce el espacio entre enlaces */
    }

    .footer-text {
        font-size: 0.8rem; /* Reduce el tamaño de fuente para el texto del footer */
        padding: 0; /* Elimina el padding lateral */
    }
}

@media (max-width: 480px) {
    .footer-links a {
        font-size: 0.8rem; /* Ajusta aún más el tamaño de fuente para enlaces */
    }

    .footer-text {
        font-size: 0.7rem; /* Ajusta aún más el tamaño de fuente para el texto del footer */
    }
}

