/* src/components/header/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
    z-index: 1000; /* Mantén el header encima del contenido */
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 70px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.header-center {
    flex: 1; /* Esto hace que el centro ocupe el espacio disponible */
    text-align: center;
}

.header-title {
    margin: 0;
    font-size: 2.5em; /* Tamaño grande para el título */
    color: #FDC1DA; /* Color rosado para el texto */
    background-color: #00450A; /* Fondo verde */
    display: inline-block;
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    text-transform: uppercase; /* Transformar texto a mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-icon {
    background: none;
    border: none;
    color: white;
    margin-left: 15px;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.3s ease;
}

.header-icon:hover {
    color: #c5c5c5;
}

.header-icon.logout {
    font-size: 18px; /* Un tamaño más pequeño para logout */
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .header-title {
        display: none; /* Oculta el título en pantallas más pequeñas */
    }

    .header-logo {
        width: 60px; /* Ajusta el tamaño de la imagen en pantallas más pequeñas */
    }

    .header-icon {
        font-size: 20px; /* Reduce el tamaño del icono en pantallas más pequeñas */
        margin-left: 10px; /* Reduce el margen entre iconos */
    }
}

@media (max-width: 480px) {
    .header {
        padding: 8px 15px;
    }

    .header-logo {
        width: 50px; /* Ajusta aún más el tamaño de la imagen para pantallas muy pequeñas */
    }

    .header-icon {
        font-size: 18px; /* Reduce aún más el tamaño del icono */
        margin-left: 8px; /* Ajusta el margen entre iconos para pantallas muy pequeñas */
    }
}
