.forbidden-container {
    display: flex; /* Usa flex para centrar el contenido */
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: space-between; /* Espacio entre el título y el botón */
    align-items: center; /* Centra el contenido horizontalmente */
    height: 100vh; /* Mantiene la altura de la pantalla */
    background-image: url('../../../public/403.png'); /* Imagen de fondo */
    background-size: contain; /* Asegura que la imagen se vea completa */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    padding: 20px; /* Espacio alrededor del contenido */
}

.forbidden-title {
    background-color: rgba(0, 69, 10, 0.8);
    padding: 10px 20px; /* Tamaño del botón */
    color: #FDC1DA;
    font-size: 48px; /* Tamaño del título */
    margin: 0; /* Elimina márgenes */
    text-align: center; /* Centra el texto */
    border-radius: 5px; /* Bordes redondeados */
}

.forbidden-button {
    padding: 10px 20px; /* Tamaño del botón */
    background-color: #00450A; /* Fondo azul con transparencia */
    color: #FDC1DA; /* Color del texto del botón */
    text-decoration: none; /* Elimina el subrayado */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición para el hover */
}

.forbidden-button:hover {
    background-color: #4adf3f; /* Fondo azul completo al pasar el ratón */
}

/* Media Query para tablets */
@media (max-width: 768px) {
    .forbidden-container {
        padding: 10px; /* Ajusta el padding */
    }
    .forbidden-title {
        font-size: 36px; /* Reduce el tamaño del título */
        padding: 8px 16px; /* Ajusta el padding */
        margin-bottom: 10px; /* Añade margen inferior para reducir espacio */
    }

    .forbidden-button {
        padding: 8px 16px; /* Ajusta el tamaño del botón */
        margin-top: 10px; /* Añade margen superior para reducir espacio */
    }
}

/* Media Query para móviles */
@media (max-width: 480px) {
    .forbidden-container {
        padding: 6px; /* Ajusta el padding */
    }
    .forbidden-title {
        font-size: 24px; /* Reduce aún más el tamaño del título */
        padding: 6px 12px; /* Ajusta el padding */
        margin-bottom: 5px; /* Añade margen inferior para reducir espacio */
    }

    .forbidden-button {
        padding: 6px 12px; /* Ajusta el tamaño del botón */
        margin-top: 5px; /* Añade margen superior para reducir espacio */
    }
}