/* CambiarImagen.css */
.cambiar-imagen-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.cambiar-imagen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pelicula-detail-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cambiar-imagen-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.volver-button, .cambiar-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.volver-button a {
    color: #FDC1DA;
    text-decoration: none;
}

.cambiar-button {
    background-color: #ecc438;
    color: white;
}

.volver-button {
    background-color: #00450A;
    color: #FDC1DA;
}

.volver-button:hover, .cambiar-button:hover {
    opacity: 0.8;
}

/* Media queries para adaptarse a diferentes tamaños de pantalla */
@media (min-width: 768px) {
    .cambiar-imagen-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .cambiar-imagen-form {
        align-items: flex-start;
    }

    .botones {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .cambiar-imagen-content {
        flex-direction: column;
        align-items: center;
    }
}

